<div class="col-lg-4">
  <div class="card">
    <h5 class="card-title">{{common_name}}</h5>
    <img class="card-img-top" src="{{image_url}}" alt="{{scientific_name}}">
    <div class="card-body">
      <p class="card-text">{{description}}</p>
      
    </div>
  </div>
</div>