<section>
    <div class="post card">
        <div class="card-header">
            <h2>Your Plants</h2>
        </div>
        <div class="card-body">
            <ol>
                {{#each userData as |plant|}}
                <li>
                    {{> plants plant}}
                    <a href="/dashboard/more-info/{{plant_id}}">More Info</a>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>

    <div class="post card">
        <div class="card-header">
            <div class="new-plant-form">
                <h2>Choose a plant:</h2>
                <input type="text" id="post-title" name="post-title" />
            </div>
        </div>
    </div>


</section>

<script src="/javascript/add-plant.js"></script>
<script src="/javascript/delete-plant.js"></script>
{{#if userData.home_id}}
<script src="/javascript/add-room.js"></script>
<script src="/javascript/edit-room.js"></script>
<script src="/javascript/delete-home.js"></script>
{{else}}
<script src="/javascript/add-home.js"></script>
{{/if}}