<section>
    <div>
        <h2>Your Plants</h2>
        <div class="flex-row-1">
            {{#each userData as |plant|}}
            {{> userplants plant}}
            {{/each}}
        </div>
    </div>

    <div class="post card" id="plantForm">
        <div class="card-header">
            <div class="new-plant-form">
                <h2>Add a plant</h2>
                <select id="select">
                    <option value="default">Choose a Plant</option>
                </select>
                <button type="button" class="btn" id="addPlant">Add Plant</button>
            </div>
        </div>
    </div>

    {{!-- Form to add home --}}

    <div class="post card" id="homeForm">
        <div class="card-header">
            <h2>Create New Home</h2>
        </div>
        <form id="new-home-form" class="card-body">
            <label class="form-label" for="home-name">Home Name</label>
            <input type="text" name="home-name" class="form-input" />

            <button type="submit" class="btn" id="createHomeButton">Create</button>
        </form>
    </div>

    {{!-- if user created a home, allow option to add rooms --}}

    <div class="post card" id="roomForm">
        <div class="card-header">
            <h2>Add a Room</h2>
            <select id="roomList">
                <option value="default">Select a Room</option>
            </select>
            <select id="lightingList">
                <option value="default">Select Room Lighting</option>
            </select>
            <select id="homelist">
                <option value="default">Choose a Room</option>
            </select>
            <button type="submit" class="btn" id="addRoomButton">Add</button>
        </div>
        {{!-- <form id="new-room-form" class="card-body">
            <label class="form-label" for="room-name">Room Name</label>
            <input type="text" name="room-name" class="form-input" />
            <label class="form-label" for="light-level">Light level</label>
            <input type="text" name="light-level" class="form-input" />
            <label class="form-label" for="home-id">Home ID</label>
            <input type="text" name="home-id" class="form-input" />

            <button type="submit" class="btn" id="addRoomButton">Add</button>
        </form> --}}
    </div>

</section>

<script src="/javascript/plant-dropdown.js"></script>
<script src="/javascript/add-plant.js"></script>
<script src="/javascript/delete-plant.js"></script>
{{#if userData.home_id}}
<script src="/javascript/add-room.js"></script>
<script src="/javascript/edit-room.js"></script>
<script src="/javascript/delete-home.js"></script>
{{else}}
<script src="/javascript/add-home.js"></script>
{{/if}}