<section>
    <div>
        <h2>Your Plants</h2>
        <div class="flex-row-1">
            {{#each userData as |plant|}}
            {{> userplants plant}}
            {{/each}}
        </div>
    </div>

    <div class="flex-row-1">
        <div class="card" id="plantForm">
            <div class="card-header">
                <h2>Add a plant</h2>
            </div>
            <div class="card-body">
                <select id="select">
                    <option value="default">Choose a Plant</option>
                </select>
                <button type="button" class="btn" id="addPlant">Add Plant</button>
            </div>
        </div>

    {{!-- Form to add home --}}

        <div class="post card" id="homeForm">
            <div class="card-header">
                <h2>Create New Home</h2>
            </div>
            <form id="new-post-form" class="card-body">
                <label class="form-label" for="home-name">Home Name</label>
                <input type="text" name="home-name" class="form-input" />

                <button type="submit" class="btn" id="createHomeButton">Create</button>
            </form>
        </div>
    </div>

</section>

<script src="/javascript/plant-dropdown.js"></script>
<script src="/javascript/add-plant.js"></script>
<script src="/javascript/delete-plant.js"></script>
{{#if userData.home_id}}
<script src="/javascript/add-room.js"></script>
<script src="/javascript/edit-room.js"></script>
<script src="/javascript/delete-home.js"></script>
{{else}}
<script src="/javascript/add-home.js"></script>
{{/if}}