<section>
    <div class="post card">
        <div class="card-header">
            <h2>Your Plants</h2>
        </div>
        <div class="card-body">
            <ol>
                {{#each userData as |plant|}}
                <li>
                    {{> userplants plant}}
                    <a href="/dashboard/more-info/{{plant.id}}">More Info</a>
                </li>
                <button type="button" class="btn" id="deletePlant">Remove this Plant</button>
                {{/each}}
            </ol>
        </div>
    </div>

    <div class="post card" id="plantForm">
        <div class="card-header">
            <div class="new-plant-form">
                <h2>Add a plant</h2>
                <select id="select">
                    <option value="default">Choose a Plant</option>
                </select>
                <button type="button" class="btn" id="addPlant">Add Plant</button>
            </div>
        </div>
    </div>

{{!-- Form to add home --}}

    <div class="post card" id="homeForm">
        <div class="card-header">
            <h2>Create New Home</h2>
        </div>
        <form id="new-post-form" class="card-body">
            <label class="form-label" for="home-name">Home Name</label>
            <input type="text" name="home-name" class="form-input" />

            <button type="submit" class="btn" id="createHomeButton">Create</button>
        </form>
    </div>

</section>

<script src="/javascript/plant-dropdown.js"></script>
<script src="/javascript/add-plant.js"></script>
<script src="/javascript/delete-plant.js"></script>
{{#if userData.home_id}}
<script src="/javascript/add-room.js"></script>
<script src="/javascript/edit-room.js"></script>
<script src="/javascript/delete-home.js"></script>
{{else}}
<script src="/javascript/add-home.js"></script>
{{/if}}