<section>
    <div class="container">
        <h2>Todays Plants</h2>
        {{!-- <div class="card-header">
        </div> --}}
        <div class="row">


            {{#each plants as |plant|}}

            {{> plants plant}}
            {{!-- <a href="/plants/{{id}}">More Info</a> --}}

            {{/each}}

        </div>
    </div>

    {{!-- <div class="post card">
        <div class="card-header">
            <div class="new-plant-form">
                <h2>Choose a plant</h2>
                <input type="text" id="post-title" name="post-title" />
            </div>
        </div>
    </div> --}}


</section>

<script src="/javascript/add-plant.js"></script>
<script src="/javascript/find-plant.js"></script>