

<div class="post card">
  <div class="card-header">
      <h2>Plants</h2>
    <ul class="plant list">
      {{#each plantdata}}
        <li>{{this}}</li>
      {{/each}}
    </ul>  
  </div>
</div>

